*~
.metadata
db/development.sqlite3
doc/abfotografiert/05_umgebungsmodell_raster2.jpg
gps-tracks/slices-hessen-2011-01-27.gpx
konphidroid/*pid*.log
log/development.log
webapp/.buildpath
webapp/.project
webapp/db/test.sqlite3
webapp/log/test.log
webapp/spec/
