<h1>Car Comm Server Prototype</h1>

<p>This is our prototype for the car communication server. I'm still
heavily in the ruby-on-rails learning curve.</p>

<p>See the current table of travel report "slices": <%= link_to "View the reported slices", slices_path %></p>
