<head>
    <title>Car Comm Server Prototype, 2010-03-31</title>

    <!-- bring in the OpenLayers javascript library
         (here we bring it from the remote site, but you could
         easily serve up this javascript yourself) -->
    <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
 
    <!-- bring in the OpenStreetMap OpenLayers layers.
         Using this hosted file will make sure we are kept up
         to date with any necessary changes -->
    <script src="http://www.openstreetmap.org/openlayers/OpenStreetMap.js"></script>
 
    <script type="text/javascript">
        // Start position for the map (hardcoded here for simplicity)
        var lat=53.5514;
        var lon=9.99;
        var zoom=12;
 
        var map; //complex object of type OpenLayers.Map
 
        //Initialise the 'map' object
        function init() {
 
            map = new OpenLayers.Map ("map", {
                controls:[
                    new OpenLayers.Control.Navigation(),
                    new OpenLayers.Control.PanZoomBar(),
                    new OpenLayers.Control.Attribution()],
                maxExtent: new OpenLayers.Bounds(-20037508.34,-20037508.34,20037508.34,20037508.34),
                maxResolution: 156543.0399,
                numZoomLevels: 19,
                units: 'm',
                projection: new OpenLayers.Projection("EPSG:900913"),
                displayProjection: new OpenLayers.Projection("EPSG:4326")
            } );
 
 
            // Define the map layer
            // Other defined layers are OpenLayers.Layer.OSM.Mapnik, OpenLayers.Layer.OSM.Maplint and OpenLayers.Layer.OSM.CycleMap
            layerMapnik = new OpenLayers.Layer.OSM.Mapnik("Mapnik");
            map.addLayer(layerMapnik);
            layerMarkers = new OpenLayers.Layer.Markers("Markers");
            map.addLayer(layerMarkers);

            if( ! map.getCenter() ){
                var lonLat = new OpenLayers.LonLat(lon, lat).transform(new OpenLayers.Projection("EPSG:4326"), map.getProjectionObject());
                map.setCenter (lonLat, zoom);
            }

            var size = new OpenLayers.Size(21,25);
            var offset = new OpenLayers.Pixel(-(size.w/2), -size.h);
            var icon = new OpenLayers.Icon('http://www.openstreetmap.org/openlayers/img/marker.png',size,offset);
            layerMarkers.addMarker(new OpenLayers.Marker(lonLat,icon));

            var vectorLayer = new OpenLayers.Layer.Vector("Overlay");
            var feature = new OpenLayers.Feature.Vector(
                new OpenLayers.Geometry.Point(53.5, 9.8),
                {some:'data'});
            vectorLayer.addFeatures(feature);
            map.addLayer(vectorLayer);

            //var point1 = new OpenLayers.Geometry.Point(52.5, 8.9);
            //var sourceNode = new OpenLayers.Feature.Vector(point1);
            //var point2 = new OpenLayers.Geometry.Point(54.5, 10.9);

        }
 
    </script>

</head>

<!-- body.onload is called once the page is loaded (call the 'init' function) -->
<body onload="init();">

<h1>Car Comm Server Prototype, 2010-03-31</h1>

<p>This is our prototype for the car communication server. I'm still
heavily in the ruby-on-rails learning curve.</p>

<p>Current Status: We can view and edit the table of travel report
"slices". A "slice" is the smallest section of the travel reports from
the mobile devices, and it can represent 60 seconds of travel (or
maybe 20 or 90 seconds), represented by its starting and ending point
in WGS84 coordinates and the average velocity in between. From this
data, one can also calculate the distance covered by this travel slice
and also the heading (also called bearing, orientation, or course
angle) of the reporting vehicle, but these are redundant information
because of start/end in WGS84. However, we don't know yet which data
parts will eventually be transferred over GPRS/Internet and which
others will be calculated when storing the slices in the database, so
I left both in there.</p>

<p>Now go here to <%=
link_to "view the table of reported slices", slices_path %></p>

<h1>Embedding Open Street Map</h1>

<p>This is the example from <a
href="http://wiki.openstreetmap.org/wiki/OpenLayers_Marker_Example">http://wiki.openstreetmap.org/wiki/OpenLayers_Marker_Example</a>
showing not only the map at some position but additionally one single
static marker. </p>

<!-- define a DIV into which the map will appear. Make it take up the whole window -->
<div style="width:400px; height:400px" id="map"></div>

<p>I would plan to have this map display the stored way slices of from <%= link_to "here", slices_path %></p>

</body>
